.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.nav-bar{
  display: flex;
  flex-wrap: wrap;
  height: 12vh;
  position: fixed;
  width: 100%;
  box-shadow: 1px 5px lightgrey;
}
